body {
  background-color: rgb(107, 107, 107);
}

.App {
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.pokedex {
  width: 100%;
  height: 95%;
  background-color: red;
  display: flex;
}

.red-container{
  /* display: flex; */
  border: 1px solid black;
  background-color: red;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
  /* flex-direction: column; */
}

.search-bar-container{
  /* background-color: green; */
  /* height: 10%; */
  width: 50%;
  display: flex;
  margin: 10px 0 10px 38px ;
}

.blue-container {
  margin: 0 auto;
  background-color: aqua;
  width: 90%;
  height: 60%;
  align-content: center;
}

.blue-container img {
  height: 65%;
  width: 65%;
}


/* styles for mobile/tablet */

@media only screen and (max-width: 1200px) {
  
  .pokedex {
    flex-direction: column;
    height: 100%;
  }
  
  .red-container {
    height: 100%;
    width: 100%;
  }

  .blue-container {
    height: 60%;
    width: 95%;
  }

  .blue-container img {
    height: 65%;
    width: 80%;
  }
}